/* feed.module.css */
.feed {
    width: 100%;          /* Take full width of the container */
    max-width: 600px;     /* Limit the maximum width */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0px;    /* Create space between the sidebar and the feed */
  }
  
  .feed h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .feed-content {
    font-size: 1rem;
    color: #333;
  }
  