/* Import Outfit font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid #e2e8f0;
  height: 60px; /* Define the height of the header */
}

.navbar {
  font-family: "Outfit";
  padding: 1rem;
  background: white;
}

.navbarBrand {
  font-size: 2rem;
  padding-left: 1rem;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.navbar-toggler {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
